.login-popup {
  position: fixed;
  z-index: 10;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #00000080;
}

.login-popup-container {
  width: min(92vw, 360px);
  color: #555;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 28px 30px;
  border-radius: 8px;
  animation: fadeIn 0.4s;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
}

.login-popup-title img {
  width: 16px;
  cursor: pointer;
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 12px;
  border-radius: 4px;
}

.login-popup-container button {
  border: none;
  padding: 12px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -8px;
  font-size: 12px;
}

.login-popup-condition input {
  margin-top: 3px;
}

.login-popup span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}

.login-popup-message {
  color: #c0392b;
  font-size: 14px;
}
